@import "tailwindcss";

body {
	@apply bg-stone-200;
}

#root {
	@apply grid h-screen grid-cols-[150px_1fr];
}

* button {
	cursor: pointer;
}

* button:disabled,
button[disabled],
input:disabled,
input[disabled] {
	cursor: not-allowed;
}
